<%= form_with model: [ @agenda, @agenda.tasks.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :code %><br>
    <%= form.text_area :code %>
  </p>
  <p>
    <%= form.label :due_date %><br>
    <%= form.date_field :due_date %>
  </p>
  <p>
  <%= f.select :category, [ 'Box', 'Cover', 'Poster' ], :prompt => 'Select One' %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
